
/*   
  .table-heading th {
    background-color: #500933;
    height: 60px;
    color: white;
  }
  

   */
   .table-container {
    display: flex;
    flex-direction: column;
 
  }
  
  .table-heading {
    display: flex;
    background-color: #4c0c32;
    color: white;
    height: 80px;
    border-radius: 10px; 
    align-items: center;
    font-weight: bold;
  }
  
  .table-cell {
    padding: 10px;
    flex: 1;
    text-align: center; 
  }
  
  .table-body {
    display: flex;
    flex-direction: column;
  }
  
  .table-row {
    display: flex;
    transition: all 0.1s ease-in;
    border-bottom: 2px solid rgb(209, 203, 203);

  }
  
  .table-row:hover {
    background-color: #e0e0e0; 
    transform: scale(1.01);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2) ;
  }
  
  

  

  
