

.profile-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #500933;
}

.profile-container .bg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container button {
  text-decoration: none;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
 
}

/* .profile-container button:hover {
  background-color: #7d065e;
  color: #007bff;
   
} */

.profile-container .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 0.9;
  
  
}


.profile-container .nav-link.active {
  background-color: #7d065e;
  color: #007bff;
  height: 50px;
  opacity: 1.7;
}





/* Add media query for responsiveness */

@media screen and (max-width: 768px) {
  .bg {
    width: 50px;
  }

  .bg.open {
    width: 250px;
  }

  .bg.open li .link_name {
    opacity: 0;
    pointer-events: none;
  }

  .bg.open li a .link_name {
    opacity: 1;
    pointer-events: auto;
  }

  .bg.open li i {
    margin-left: -20px;
  }

  .bg.open li.profile {
    width: 100%;
  }

  .bg.open ~ .home-section {
    left: 50px; /* Adjust as needed */
    width: calc(100% - 50px);
  }

  .bg .logo_details .icon {
    opacity: 1;
  }

  .bg .nav-list {
    display: none;
  }

  .bg.open .nav-list {
    display: block;
  }
}


