
/*   
  .table-heading th {
    background-color: #500933;
    height: 60px;
    color: white;
  }
  

   */
   /* .table-container {
    display: flex;
    flex-direction: column;
 
  } */
  
  .tp{
  
    background-color: #500933;


  }
  .modal-content{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 22px; 
    padding: 7%;
    width: 116%;
} 
.modal-header {
  border: none;
}

.form-control{
  background-color: rgb(244, 243, 243);

}




/* Small <= 768px */
  
@media(max-width: 700px) {
  .modal-content{

    width: 98%;
} 


}


  