.btn1 {
  width: 180px;
  height: 180px;
  background: radial-gradient(circle at top left, rgb(217, 85, 48), transparent),
              radial-gradient(circle at top right, green, transparent),
              radial-gradient(circle at bottom left, rgb(91, 91, 233), transparent),
              radial-gradient(circle at bottom right, green, transparent);
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 60px;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  opacity: 0.5;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.btn1:hover {
  background: radial-gradient(circle at top left, rgb(217, 85, 48), transparent),
              radial-gradient(circle at top right, green, transparent),
              radial-gradient(circle at bottom left, rgb(91, 91, 233), transparent),
              radial-gradient(circle at bottom right, green, transparent);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  opacity: 1; /* Adjust opacity on hover */
}

.button-text1 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.button-icon1 {
  color: white;
  font-size: 40px;
}

  .btn2 {
    width: 180px;
    height: 180px;
    background: rgb(0, 102, 255);
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 60px;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); 
  }
  
  .btn2:hover {
    background: rgb(0, 102, 255);
    opacity: 1;
  }
  
  .button-text2 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    opacity: 1.5;
    margin-bottom: 8px;
    z-index: 2;
  }
  
  .button-icon2 {
    color: white;
    font-size: 40px;
    z-index: 2;
  }
  .pic{
   margin-left: 50px;
  }
  #img{
    height: 550px;
   }

  /* Small <= 768px */
  
@media(max-width: 700px) {
  .pic{
    margin-left: 0px;
   }
   #img{
    
    height: 200px;
   }
 


}
  