
.cards:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .tooltip-inner {
    background-color: #450c36;
    color: white;
    font-weight: bold;
  }